

.upcoming-films{
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
}

.text-truncate{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 230px;
}
h2{
    color: #ffffff;
    margin-top: 23px;
}