svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1uzrjc8-MuiSvgIcon-root{
    display: none;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: rgba(var(--tmdbDarkBlue), 1);
}

button[type="button"] {

    background:unset!important;


}